*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*scala dimensioni 8px

font-family: 'SF Sports Night', sans-serif;
    font-family: 'SF Sports Night AltUpright', sans-serif;
    font-family: 'SF Sports Night Alternate', sans-serif;
    font-family: 'SF Sports Night NS', sans-serif;
    font-family: 'SF Sports Night NS AltUpright', sans-serif;
    font-family: 'SF Sports Night NS Alternate', sans-serif;
    font-family: 'SF Sports Night NS Upright', sans-serif;
    font-family: 'SF Sports Night Upright', sans-serif;
    
    
*/

body{
    background-color: black;
    opacity: 0.9;
    font-family: 'Open sans', sans-serif ;
    font-size: small;
    width: 100%;
   
}

nav{display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    margin:40px  auto;
    
}
.container-ico{
    display: inline;
    width: 100%;
    margin: 0;
}

img{
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(143, 139, 139, 0.2), 
    0 8px 24px rgba(168, 159, 159, 0.19); /* Aggiunge l'ombra */
    width: 80px;
    margin-left: 24px;
   
   
 
}


.navbar-link{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    
}

.link{
    display: block;
    text-align: center;
    color: aliceblue;
    list-style-type: none;
    width: auto;
    margin-left: auto;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: medium;
    position: relative;
    top: 16px;
}
.container{
   border-bottom: 1.5px solid #c455f0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 98%;
    margin:auto;


}

.bio{
    display: block;
    text-align:initial;
    width: 100%;
}


.bio-h1{
    font-family: 'SF Sports Night NS', sans-serif;
    font-size: 32px;
    color: #c455f0;;
    letter-spacing: 2px;
   
    line-height: 28px;
    margin: 80px auto 40px 24px;
    text-align: left;
}
.bio h2{
    border-left: 1px solid #f9f9f9e8;
    font-size: 8.5px;
    font-weight: 400;
    color: #f9f9f9d7;
    font-family: 'Open Sans', sans-serif;
    padding-left:8px;
    margin-left: 24px;
    text-align:left ;
 
}

.bio-testo{
    color: #d4d4d4e8;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 80px 0;
    letter-spacing: 4px;
    line-height: 24px;
    width: 80%;
    padding-left: 24px;
    
}

/*LINEA PROGRESSI*/

.container-linea{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #333;
    transform: translateX(-50%);
    z-index: -1;
}

.point {
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.point:nth-child(1) { top: 150px; }
.point:nth-child(2) { top: 300px; }
.point:nth-child(3) { top: 450px; }
.point:nth-child(4) { top: 600px; }

/* Aggiungi altri punti secondo necessità */

.content-linea {
    position: static;
    width: 100%;
}

h2, h4, h1{
    font-family: 'SF Sports Night Alternate', sans-serif;
    
 color: #c455f0;
text-align: center;    
font-size: 28px;
margin: 70px auto;
letter-spacing: 4px;
}

.item {
    position: relative;
    width: 45%;
    margin: 40px 0;
    padding: 16px 14px ;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.item.right {
    left: 55%;
}

.item.left {
    left: 0%;
}

.item h3 {
    font-family: 'SF Sports Night NS Upright', sans-serif;
    font-size: large;
    padding: 8px 0;
    color:#891fb3;
    margin-top: 0;
}

.item p {
    margin-bottom: 0;
}

.item.visible {
    opacity: 1;
    transform: translateY(0);
}

.content-linea p , ul{
    color:#8e8e8e ;
    font-family: 'Open Sans', sans-serif;
    font-size: x-small;
    font-weight: 800;
    margin: 7px auto;
    
}

.content-linea span{
    color: #8e8e8eda;
    font-size: xx-small;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: oblique;
    
}

.descrizione-titolo-percorso{
    color:#8e8e8eda;
    font-size: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 7px auto;
  
}
li{
    list-style:decimal;
    margin: 5px  10px;
}


/*Sezione - Agenda 2030*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: auto;
}

.card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 80%;
    height: auto;
    display: block;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 400px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
/*Agenda Commento*/


.container-details{
    display: block;
    text-align: left;
    margin: 50px 0;
    width: 80%;
}
.container-details h5{
    font-size: 28px;
    font-weight: bold;
    color: #c455f0;
    letter-spacing: 4px;
    margin:100px 35px ;
    border-bottom: 1.5px solid whitesmoke;
    
}
.container-details ul{
  margin: auto auto auto 35px;
}
.container-details ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #dfdddd;
    margin:  14px auto;
    border-left: 1px solid #68645f;
    padding-left: 8px;
    list-style-type:decimal;
}

.container-details a{
    border: 1.4px solid whitesmoke;
    border-radius: 8px;
    padding: 8px ;
    margin: 80px 0 80px 32px;
}

/* Aside con link social */
aside.social-links {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

aside.social-links a img {
    width: 18px;
    height: auto;
    transition: transform 0.3s;
}

aside.social-links a:hover img {
    transform: scale(1.2);
}


/*COMPETENZE */

 
.container-competenze {
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    pointer-events: none;
}

.cart-competenze {
    display: flex;
    animation: scrollCart 10s linear infinite;
    pointer-events: auto;
}

.competenze-item {
    min-width: 100px;
    margin: 0 10px;
}

.competenze-item img {
    width: 40px;
   
    border-radius: 10px;
}

@keyframes scrollCart {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .container-competenze {
        height: 80px;
    }
    .competenze-item {
        min-width: 80px;
    }
}

@media (max-width: 480px) {
    .container-competenze {
        height: 60px;
    }
    .competenze-item {
        min-width: 60px;
    }
}

