body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    background-color: #ffffff;
    width: 90%;
    margin: auto;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #64C9CF;
    animation: colorChange 2s linear infinite;
}

.brand-d {
    display: inline-block;
    transition: transform 0.3s;
}

.rotated {
    transform: rotate(180deg);
    display: inline-block;
}

.navbar-brand:hover .brand-d {
    animation-play-state: paused;
}

.navbar-links a {
    margin-left: 16px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-links a:hover {
    border-bottom: 3px solid #333333;
    padding-top: 2px;
    color: #DF711B;
}

@keyframes colorChange {
    0% {
        color: #64C9CF;
    }
    50% {
        color: #FFB740;
    }
    100% {
        color: #64C9CF;
    }
}

.hidden {
    top: -100px;
}

/*MAIN*/

main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-overlay {
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-text {
    color: #ffffff;
    max-width: 50%;
    padding: 20px;
}

.hero-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 24px;
}

.discover-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #64C9CF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.discover-btn:hover {
    background-color: #FFB740;
}

.btn-icon {
    margin-left: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-overlay {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
        padding: 10px;
    }

    .discover-btn {
        width: auto;
        margin: auto;
    }
}

/*COMPETENZE*/

.skills-section {
    background-color: #151515;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #64C9CF;
    margin-bottom: 16px;
    text-align: left;
    text-transform:capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #6C757D;
    margin-bottom: 80px;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 24px;
}

.skills-list {
    width: 45%;
    text-align: left;
    position: relative;
}

.skills-list::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #DF711B;
}

.skills-list ul {
    list-style: none;
    padding: 0;
    margin:  8px 0 ;
 
}

.skills-list li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #EFF0F1;
    margin-bottom: 15px;
    position: relative;
    padding-left: 40px;
    text-transform: capitalize;
}

.skill-number {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #64C9CF;
    position: absolute;
    left: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .skills-content {
        flex-direction: column;
        align-items: center;
    }

    .skills-list {
        width: 80%;
        margin-bottom: 40px;
    }
}

/*ESPERIENZE LAVORATIVE*/

.experiences-section {
    width: 100%;
    padding: 50px 0;
    background-color: #FFFFFF;
    text-align: center;
    margin: 80px auto ;
}

.experiences-container {
    width: 90%;
    margin: auto;
}

.experiences-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.experiences-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
}

.experiences-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.experience-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: calc(45% - 30px); 
    padding: 8px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out; 
}

.experience-card:hover,
.experience-card:focus-within {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.experience-card:hover .experience-card-description,
.experience-card:focus-within .experience-card-description {
    display: block;
    transition: 1s;
}

.experience-card-title-overlay {
    background-color: rgba(100, 201, 207, 0.5); 
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1; 
}

.experience-card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

.experience-card-description {
    display: none;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-card:hover .experience-card-description,
.experience-card:focus-within .experience-card-description {
    opacity: 1; 
    visibility: visible; 
}

.experience-card-description p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .experiences-content {
        flex-direction: column;
        align-items: center;
    }

    .experience-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Sezione Progetti */
.projects-section {
    width: 100%;
    padding: 50px 0;
  background-color: #f4f4f4;
    text-align: center;
}

.projects-container {
    width: 90%;
    margin: auto;
}

.projects-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #DF711B; 
    margin-bottom: 10px;
    text-align: center;
}

.projects-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
    text-align: center;

}

.projects-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.project-card {
    position: relative;
    width: 45%;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.project-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #64C9CF; 
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;

}

.project-link:hover {
    background-color: #64C9CF;
    color: #ffffff;
    text-align: center;

}

/*PAGINA PROGETTI*/
.carousel {
    width: 90%;
    margin: auto;
}
.carousel-inner {
    padding: 20px;
}
.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
.card {
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.carousel-item.active .card {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card:hover .project-overlay {
    opacity: 1;
}
.project-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}
.project-description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.project-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #64C9CF;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.project-link:hover {
    background-color: #64C9CF;
    color: #ffffff;
}


.carousel {
    width: 90%;
    margin: auto;
}
.carousel-inner {
    padding: 20px;
}
.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
.card {
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 10px;
}
.carousel-item.active .card {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .projects-content {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Contatti */

.contact-section {
    width: 100%;
    padding: 80px 0;
    background-color: #FFFFFF;
    text-align: center;
}

.contact-container {
    width: 90%;
    margin: auto;
}

.contact-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.contact-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #6C757D;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #64C9CF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-btn:hover {
    background-color: #FFB740;
}

/* Footer */

.footer-section {
    width: 100%;
    padding: 20px 0;
    background-color: #333333;
    text-align: center;
    color: #ffffff;
}

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-link {
    color: #64C9CF; 
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-link:hover {
    color: #FFB740; 
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo h2 {
        margin-bottom: 20px;
    }
}

/* Ottimizzazioni Aggiuntive */

/* Ridurre il padding delle sezioni su dispositivi più piccoli */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }
    
    .navbar .container {
        padding: 10px 0;
    }
    
    .hero-overlay {
        padding: 10px;
    }

    .skills-section,
    .experiences-section,
    .projects-section,
    .contact-section,
    .footer-section {
        padding: 20px 0;
    }
    
    .container {
        width: 95%;
    }
    
    .contact-form {
        gap: 5px;
    }
    
    .contact-input,
    .contact-btn {
        font-size: 14px;
    }
    
    .contact-btn {
        padding: 8px 15px;
    }
}

/* Migliorare la leggibilità del testo su dispositivi più piccoli */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem;
    }
    
    .hero-text p,
    .contact-subtitle,
    .projects-subtitle,
    .experiences-subtitle,
    .section-subtitle {
        font-size: 14px;
    }

    .experience-card-description p,
    .project-description {
        font-size: 14px;
    }
}

/* Adattare le dimensioni delle immagini */
@media (max-width: 768px) {
    .project-image {
        height: auto;
    }

    .project-link {
        font-size: 12px;
        padding: 8px 15px;
    }
}

/* Migliorare la navigazione su dispositivi mobili */
@media (max-width: 768px) {
    .navbar-links a {
        margin-left: 10px;
        font-size: 14px;
    }
}


/*CV pages*/

ul li{
    line-height: 40px;
}
